
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>HAKKIMIZDA</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <p>
                    Birçok insan besinleri tüketmeden kalori içeriklerini göz ardı etmektedir. Diyet konusunda en iyi bilinen kural şudur: Yaktığınızdan daha az kalori alırsanız kilo verirsiniz.
                </p>                <p>
    Yağ, karbonhidrat ve proteinden alınan kaloriler farklıdır. Vücut, kalorileri farklı şekilde işlemektedir. Genel olarak kalori kaynakları yağ, karbonhidratlar ve protein olarak üçe ayrılır. Karbonhidratlar ve yağ, obezitenin yaygın nedenleri arasındadır
</p>
                
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <p>
                    Besinlerde bulunan enerji miktarını ölçmek için kullanılan birim kaloridir. İnsan vücudu enerjisini esas olarak karbonhidratlar,
                    proteinler ve yağlardan almaktadır. Kalori, diyette büyük miktarlarda bulundukları için makro besin olarak da ifade edilir.
                    Eser elementler veya vitaminler gibi diğer besin maddelerinin aksine, makro besinler enerji içerir. Ayrıca başka bir enerji kaynağı alkoldür. 
                    Besinlerdeki enerji aynı zamanda ‘kalorifik’ değer olarak da bilinir ve kalori veya joule birimleriyle ölçülür. Kalori konuşulduğunda, 
                    aslında kilokalori (1000 kalori) anlamına gelir. Öte yandan makrobesinler farklı kalori içeriğine sahiptir.
                </p>
                <a href="#" class="btn-learn-more">Daha Fazla</a>
            </div>
        </div>

    </div>
</section>