@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="faq" class="faq">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>SIKÇA SORULAN SORULAR</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Kilo vermek için ne tür bir yol izlemeliyim?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Sağlıklı kilo vermek ve beslenme alışkanlığı kazanarak verdiğiniz kiloları korumak istiyorsanız ,bütün dünyada olduğu gibi beslenme uzmanına danışmalısınız .Danışmanlık hizmeti alacağınız beslenme uzmanınızın veya diyetisyeninizin isteyeceği çeşitli biyokimyasal testler çizeceğiniz yolun haritasını ortaya çıkartacaktır.Ancak aşırı şişman veya kronik bir hastalığı olan bireylerin bir endokrin uzmanına görünüp ondan sonra diyetisyen veya beslenme uzmanına gelmeleri yararlı olacaktır.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Öğünlerlerden önce veya öğünlerden sonra su içmek fayda sağlar mı ?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Evet. Midede doygunluk hissinin oluşması ve sindirime yardımcı olması açısından oldukça büyük yarar sağlar.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Zayıflama programı uygularken multivitamin tabletleri kullanmalımıyız? </h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Hayır. Gelişigüzel ve kontrolsüz olarak kullanılan bu tip ürünler sağlık açısından sorun yaratabilir
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4> Bel ölçüsü şişmanlık veya zayıflık için belirleyici bir unsurmudur?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Yetişkin kadınlarda 88 cm,erkeklerde ise 102 cm kalp hastalıklarından korunmak açısından oldukça önemli bir antropometrik bir ölçümdür.Özellikle abdomina(karın bölgesinde artan yağlanma)l obezite kalp hastalıkları açısından riski belirlemede bir unsurdur.

                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
            <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Yeterli ve dengeli beslenmek için günde kaç öğün beslenmeliyiz?</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    İster kilo vermek ister kilo kontrolünü sağlamak amaçlı olsun yaşam kalitesini arttırmak için sık ve az miktarda beslenmek gerekmektedir.Özellikle 3 ana öğün ve 2-3 ara öğün şeklindeki beslenme planı en uygun olan yöntemdir.

                </p>
            </div>
        </div><!-- End F.A.Q Item-->

    </div>
</section><!-- End F.A.Q Section -->
<!-- ======= Contact Section ======= -->