@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Final Project</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="~/KTema/assets/img/favicon.png" rel="icon">
    <link href="~/KTema/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/KTema/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/KTema/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/KTema/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/KTema/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/KTema/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/KTema/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/KTema/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/KTema/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="/AnaSayfa/Index">Kalori Net</a></h1>

            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/AnaSayfa/Index">Ana Sayfa</a></li>
                    
                    <li><a class="nav-link scrollto" href="/Food/Index">Kaç Kalori</a></li>
                    <li><a class="nav-link scrollto " href="/CaloriesBurn/Index2">Hesaplamalar</a></li>
                    <li><a class="nav-link scrollto" href="/Recipes/Index"> Tarifler</a></li>
                    <li><a class="nav-link scrollto" href="#pricing">Hizmetlerimiz</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Online Testler</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>

                            <li class="dropdown">

                            </li>
                            <li><a href="/Testler/IdealKiloHesap">İdeal Kilo Hesaplama</a></li>
                            <li><a href="/Testler/BKIHesap">Günlük Kalori İhtiyacı Hesaplama</a></li>
                            <li><a href="/Testler/VKIHesap">Vücut Kitle Endeksi Hesaplama</a></li>
                            <li><a href="/Testler/BKIHesap">BKE Hesaplama</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
                    <li><a class="getstarted scrollto" href="/Login/Index">GİRİŞ</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
 <br /> <br /> <br />

    @RenderBody()

    @await Html.PartialAsync("~/Views/AnaSayfa/iletisim.cshtml")

    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        &copy; <strong>Kalori Net</strong>. Her hakkı saklıdır
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="#intro" class="scrollto">Ana Sayfa </a>
                        <a href="#about" class="scrollto">Hakkında</a>
                        <a href="#">Gizlilik Politikası</a>
                        <a href="#">Kullanım Koşulları</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/KTema/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/KTema/assets/vendor/aos/aos.js"></script>
    <script src="~/KTema/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/KTema/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/KTema/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/KTema/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/KTema/assets/vendor/php-email-form/validate.js"></script>


    <script src="~/KTema/assets/js/main.js"></script>

</body>

</html>