
@{
    ViewData["Title"] = "UserProfil";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<section style="background-color: #eee;">
    <div class="container py-5">
       

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">yasinnnn</h5>
                        <p class="text-muted mb-1">Yasin Kaya</p>
                       
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Profili Düzenle</button>
                            <button type="button" class="btn btn-outline-primary ms-1"> <a asp-area="" asp-controller="Cart" asp-action="GetRecords">Kayitlariniz</a></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">İsminiz</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Yasin Kaya</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Kullanıcı Adı</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">yasinnnn</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">yaaaaaaaaaaaa1111@gmail.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefon</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(0532) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adres</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Antalya</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Yaşınız</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">23</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Kilonuz (kg)</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">105</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Boyunuz (cm)</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">180</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Cinsıyetiniz</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">erkek</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Hedefiniz</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Kilo vermek</p>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Kalori Hedefiniz</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">2400 .kcal</p>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Vücut Kütle İndeksi</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">32.43</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

  
                </div>
            </div>
        </div>
    </div>
</section>